@model IEnumerable<ScrewballResume.Models.Reference>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Applicant Name
            </th>
            <th>
               Reference Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceDesc)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Applicant.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReferenceDesc)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReferenceID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReferenceID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReferenceID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Applicants" asp-action="Index">Back to Applicants List</a>